* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    transition: background ease 0.3s;
}

#colorDisplay {
    font-family: monospace;
    font-size: 90px;
    text-align: center;
}

.buttons {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

button {
    cursor: pointer;
}

#colorBtn {
    height: 60px;
    width: 180px;
    font-family: sans-serif;
    font-size: 30px;
    border: 0;
    box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.5);
    background-color: white;
    border-radius: 100px;
    transition: all ease 0.3s;
}

#copy {
    height: 60px;
    width: 60px;
    background: white;
    border-radius: 100px;
    border: 0;
    box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.5);
    font-family: sans-serif;
    font-size: 18px;
    transition: all ease 0.3s;
}

#github {
    font-family: sans-serif;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: fit-content;
}

#github svg {
    width: 32px;
    height: 32px;
}