:root {
    --glass: hsla(0, 0%, 100%, 0.3);
    --glass-highlight: hsla(0, 0%, 100%, 0.4);

    --pill: 999px
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
.buttons,
#github {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    position: relative;
    height: 100vh;
    flex-direction: column;
    gap: 20px;
    transition: background 0.3s ease;
    overflow: hidden;
}

body::before {
    content: "";
    position: absolute;
    inset: 0;
    background: radial-gradient(circle at 50% 50%, hsla(0, 0%, 100%, 0.1) 0%, transparent 100%);
    pointer-events: none;
    animation: pulse 10s ease-in-out infinite;
}

@keyframes pulse {
    0%,
    100% { transform: scale(1); opacity: 0.5; }
    50% { transform: scale(1.1); opacity: 0.8; }
}

#colorDisplay {
    font-family: monospace;
    font-size: 90px;
    text-align: center;
}

.buttons {
    gap: 7px;
    border-radius: var(--pill);
    padding: 10px;
    background-color: var(--glass);
    border-top: 1px solid var(--glass-highlight);
    border-left: 1px solid var(--glass-highlight);
}

button {
    cursor: pointer;
}

.buttons > button {
    height: 60px;
    font-family: sans-serif;
    border: 0;
    background: white;
    box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.5);
    transition: transform 0.1s ease, border-radius 0.1s ease;
}

#colorBtn {
    width: 180px;
    font-size: 30px;
    border-radius: 100px 50px 50px 100px;
}

#copy {
    width: 60px;
    border-radius: 50px 100px 100px 50px;
    font-size: 18px;
}

#github {
    font-family: sans-serif;
    color: black;
    gap: 10px;
    text-decoration: none;
    padding: 12px 16px;
    background: var(--glass);
    border-top: 1px solid var(--glass-highlight);
    border-left: 1px solid var(--glass-highlight);
    border-radius: var(--pill);
    transition: background 0.3s ease,
                transform 0.3s ease;
}

#github:hover {
    transform: translateY(-2px);
    background: hsla(0, 0%, 100%, 0.5);
}

#github svg {
    aspect-ratio: 1 / 1;
    width: 24px;
    transition: transform ease 0.3s;
}

#github:hover svg {
    transform: rotate(360deg);
}